<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="my_atm" class="dependent.ATMImpl">
		<property name="transport" ref="soap"/>
	</bean>
	<bean id="test" class="dependency.TestTransport" />
	<bean id="http" class="dependency.HttpTransport" />
	<bean id="soap" class="dependency.SoapTransport" />
</beans>
