@model PahilaMVC.Models.LoginModel

    <div class="row"> 
        <div class="col-md-4">
            <h5>New User</h5>
            <form>
                <div class="form-group">
                LoginID    <input type="text" name="login" />
                </div>
                <div class="form-group">
                Password    <input type="text" name="password" />
                </div>
                <div class="form-group">
                   User Type
                    <select name="type">
                        <option value="Corporate">Corporate</option>
                        <option value="Admin">Admin</option>
                    </select>
                </div>
                <input type="submit" name="submit" />
            </form>
        </div>
     </div>
