@model PahilaMVC.Models.UserModel

    <div class="row"> 
        <h5>New User</h5>
        <form>
            <div class="form-group">
            Email    <input type="email" name="email" />
            </div>
            <div class="form-group">
            Pasword    <input type="password" name="password" />
            </div>
            <div class="form-group">
            FirstName    <input type="password" name="password" />
            </div>
            <div class="form-group">
            LastName    <input type="password" name="password" />
            </div>
            <div class="form-group">
            Gender
                <input type="radio" value="male" />Male
                <input type="radio" value="female"/>Female
            </div>
            <div class="form-group">
            City    <select name="type">
                    <option value="pune">Pune</option>
                    <option value="Mumbai">Mumbai</option>
                </select>
            </div>
            <input type="submit" name="submit"/>
           </form>
    </div>
