.login{
    margin-top: 15px;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
}
.login-left{
    width: 20%;
    background-color: #2874f0;
    padding: 30px;
    position: absolute;
    height:70%;
}
.login-right{
    width: 30%;
    padding: 30px;
    margin-left: 25%;
    position: absolute;
    height:70%;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.login-content{
    margin-top: 30px;
}
.login-content input{
    border: none;
    font-family: 'Segoe UI';
    font-size: 15px;
}
.login-content select{
    width: 450px;
    height: 45px;
    border: none;
    font-family: 'Segoe UI';
    font-size: 15px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    margin-bottom:15px;
}
.login-content input[type="submit"]{
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 450px;
    height: 45px;
}
.login-content input[type="text"]{
    margin-bottom:15px;
    border-bottom: 1px solid #e0e0e0;
    width: 450px;
    height: 45px;
}
.login-content input[type="email"]{
    margin-bottom:15px;
    border-bottom: 1px solid #e0e0e0;
    width: 450px;
    height: 45px;
}
.login-content input[type="password"]{
    margin-bottom:15px; 
    border-bottom: 1px solid #e0e0e0;
    width: 450px;
    height: 45px;
}
.login-content input[type="number"]{
    margin-bottom:15px; 
    border-bottom: 1px solid #e0e0e0;
    width: 450px;
    height: 45px;
}